{% extends 'base.html' %}
{% load static %}

{% block title %}
{{customer.name}}
{% endblock title %}
    
{% block content %}
<div class="row py-5">
        <div class="col-sm-3">
            <h5 class="py-2">Customer Information</h5>
            <div class="card">
                {% if customer %}
                <div class="card-body">
                    <form method="POST" action="{% url 'invoice:update-customer' customer.id %}">
                        {% csrf_token %}
                        <div class="mb-3">
                          <label class="form-label">Full Name</label>
                          <input type="text" class="form-control" name="name" value="{{customer.name}}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Phone</label>
                            <input type="text" class="form-control" name="phone" value="{{customer.phone}}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email address</label>
                            <input type="email" class="form-control" name="email" value="{{customer.email}}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Whatsapp Number</label>
                            <input type="email" class="form-control" name="email" value="{{customer.whatsapp_number}}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Physical Address</label>
                            <input type="text" class="form-control" name="physical_address" value="{{customer.physical_address}}">
                        </div>
                        <button type="submit" class="btn btn-primary">Update Customer</button>
                      </form>
                </div>
                {% endif %}
            </div>
        </div>


     {% if customers %}
    <div class="col-sm-9">
        <h5 class="py-2">Customers List</h5>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Email</th>
                            <th scope="col">Whatsapp Number</th>
                            <th scope="col">Physical Address</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        
                        {% for customer in customers %}
                        <tbody>
                          <tr>
                            <th>{{forloop.counter}}</th>
                            <td>{{customer.name}}</td>
                            <td>{{customer.phone}}</td>
                            <td>{{customer.email}}</td>
                            <td>{{customer.whatsapp_number}}</td>
                            <td>{{customer.physical_address}}</td>
                            <td class="text-center">                            
                                <a class="delete-customer bs-modal mr-2" data-form-url="{% url 'invoice:delete_customer' customer.id %}">
                                    <i class="fa fa-trash text-danger" style="font-size: 22px;"></i>
                                </a>                               
                            </td>
                          </tr>              
                        </tbody>
                        {% endfor %}
                      </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

  <!-- Modal 1 with id="create-book"-->
  <div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>
    
    <!-- Modal 2 with id="modal" -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
{% endblock content %}
{% block javascript %}
    <script>
        $(function () {  
        $(".delete-customer").each(function () {
            $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
        });
        });
    </script>
{% endblock javascript %}
