{% extends 'base.html' %}
{% load static %}

{% block title %}
     {{title}}
{% endblock title %}


{% block stylesheet %}

{% endblock stylesheet %}
  
    
{% block content %}
  <div class="card"> 
      <div class="card-header">
        <h5 class="py-2">{{title}}             
        <a id="create-customer" class="btn btn-outline-primary btn-lg float-end" type="button" name="button">Add Customer</a>
        </h5>
      </div>

      <div class="card-body">
              <table class="table bordered-table mb-0" data-page-length='10' id="customer-table">
                  <thead>
                    <tr>
                      <th scope="col">S/N</th>
                      <th scope="col">Name</th>
                      <th scope="col">Phone</th>
                      <th scope="col">Email</th>
                      <th scope="col">Physical Address</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  
                  
                  <tbody>
                      {% for customer in customers %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{customer.name}}</td>
                      <td>{{customer.phone}}</td>
                      <td>{{customer.email}}</td>
                      <td>{{customer.physical_address}}</td>
                      <td class="text-center">
                          <a class="update-customer bs-modal mr-2" data-form-url="{% url 'customer:update-customer' customer.id %}" style="cursor:pointer;font-size: 22px">
                            <i class="fa fa-edit text-warning"></i>
                          </a>

                          <a class="delete-customer bs-modal mr-2" data-form-url="{% url 'customer:delete_customer' customer.id %}">
                              <i class="fa fa-trash text-danger" style="font-size: 22px; cursor:pointer;"></i>
                          </a>                               
                      </td>
                    </tr>     
                    {% endfor %}         
                  </tbody>                        
              </table>
      </div>
  </div>
<!-- Modal 1 with id="create Modal"-->
<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
  
  <!-- Modal 2 with id="modal" -->
  <div class="modal fade" tabindex="-1" role="dialog" id="modal" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
{% endblock content %}


{% block javascript %}
<script>
  $(document).ready(function() {
  var table = $('#customer-table').DataTable( {
  dom: 'Bfrtip',
      buttons: ['excel', 'pdf','print'],
      initComplete: function() {
      $('.buttons-excel').html('<i class="fa table-buttons fa-file-excel-o text-success"/>')
      $('.buttons-pdf').html('<i class="fa table-buttons fa-file-pdf-o text-danger"/>')
      $('.buttons-print').html('<i class="fa table-buttons fa-print text-dark"/>')
      }
  } );

  table.buttons().container()
      .appendTo( '#customer-table_wrapper .col-md-6:eq(0)' );

  
} );
</script>

<script>
    $(function () {  
      $(".delete-customer").each(function () {
          $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
      });
    });
    $("#create-customer").modalForm({
          formURL: "{% url 'customer:customer-create' %}",
          modalID: "#create-modal"
      });
      $(".update-customer").each(function () {
        $(this).modalForm({
            formURL: $(this).data('form-url')
        });
      });
  </script>
{% endblock javascript %}
    
    
