{% extends 'base.html' %}
{% load static %}
{% block title %}Receipts{% endblock title %}

{% block stylesheet %}

{% endblock stylesheet %}


{% block content %}
<div class="card">
    <div class="card-header">   
        <h5 class="py-2">{{heading}}
            <button class="btn btn-outline-primary btn-lg float-end create-receipt" data-url="{% url 'receipt:create-receipt' %}">New Receipt</button> 
        </h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
            <table id="data-table" class="table bordered-table mb-0" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Customer</th>                        
                        <th>Description</th>
                        <th>Date</th>
                        <th>Amount</th>                        
                        <th>Payment Means</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% include 'receipts/includes/receipt_list_body.html' %}
                </tbody>
            </table>
        </div>
      </div>
  </div>

  <!-- THE MODAL-->
<div class="modal fade" id="modal-receipt" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
</div>
{% endblock content %}


{% block javascript %}
<script>
  $(document).ready(function () {
    $('#data-table').DataTable({
      responsive: true,
      pageLength: 10,
      language: {
        search: "_INPUT_",
        searchPlaceholder: "Search..."
      }
    });
  });
</script>
<script>
  //Form Loading Handler
$(function () {
  var loadForm = function(){
    var btn = $(this);
    $.ajax({
      url: btn.attr("data-url"),
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
        $("#modal-receipt").modal("show");
      },
      success: function (data) {
        $("#modal-receipt .modal-content").html(data.html_receipt_form);
      }
    });
  }


 //Form Saving Handler
  var saveForm = function () {
    var form = $(this);
    $.ajax({
      url: form.attr("action"),
      data: form.serialize(),
      type: form.attr("method"),
      dataType: 'json',
      success: function (data) {
        if (data.form_is_valid) {
          $("#receipt-table tbody").html(data.html_receipt_list);  // <-- Replace the table body
          toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "3000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
          }
          toastr["success"]("Saved Successfully")
          $("#modal-receipt").modal("hide");          
        }

        else {
          $("#modal-receipt .modal-content").html(data.html_form);
        }
      }
    });
    return false;
  };

  // Create Receipt
  $(".create-receipt").click(loadForm);
  $("#modal-receipt").on("submit", ".receipt-create-form", saveForm);

  // Update Receipt
  $("#receipt-table").on("click", ".update-receipt", loadForm);
  $("#modal-receipt").on("submit", ".receipt-update-form", saveForm);

    // Delete Receipt
  $("#receipt-table").on("click", ".delete-receipt", loadForm);
  $("#modal-receipt").on("submit", ".receipt-delete-form", saveForm);
});
</script>
{% endblock javascript %}
    
    