[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "3.2"
django-xhtml2pdf = "*"
django-widget-tweaks = "*"
python-decouple = "*"
pillow = ">=8.3.2"
django-crontab = "*"

[requires]
python_version = "3.9"
