[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.2"
django-xhtml2pdf = "0.0.4"
django-widget-tweaks = "*"
python-decouple = "*"
pillow = ">=8.3.2"
django-crontab = "*"
xhtml2pdf = "==0.2.5"
reportlab = "==3.6.6"
django-cleanup = "*"

[requires]
python_version = "3.9"
