[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-xhtml2pdf = "*"
django-widget-tweaks = "*"
python-decouple = "*"
mysqlclient = "*"

[requires]
python_version = "3.8"
