{% extends 'base.html' %}
{% load static %}


{% block title %}
    New Invoice
{% endblock title %}


{% block stylesheet %}
  <style>
    .table-buttons{
        background-color: #fff !important;
        padding: 5px;
        border-radius: 2px;
        font-size:18px;
    }

    div.dt-buttons {
        float: right;
        margin-left:10px;
    }
    .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #34495e;
    border-color: #95a5a6;
    }
  </style>
{% endblock stylesheet %}
    

{% block content %}
<div class="row py-4">
    <div class="col-sm-4 ">
        
        <div class="card">
            <div class="card-header">
                <h5 class="py-2">New Invoice/Order</h5>
            </div>
            <div class="card-body">
                {% if error_message %}
                <div class="alert alert-danger">{{ error_message }}</div>
                {% endif %}
                <br />
                {% if error_message %}
                <div class="alert alert-success">{{ success_message }}</div>
                {% endif %}

                <form action="{% url 'invoice:create-invoice' %}" method='POST'>
                    {% csrf_token %}
                    <div class="form-group mb-3">                        
                        <select id="slim-select" name="customer_id">
                            <option value="None">(Select Customer)</option>
                            {% if customer_list %}
                                {% for customer in customer_list %}
                                <option value="{{ customer.id }}">{{ customer.name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>                       
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Due Date</label>                                                  
                        <div class="input-group" id="datepicker-due-wrapper">
                        <input type="text" name="due_date" value="{{ today|date:'d/m/Y' }}" class="form-control" id="due-date" autocomplete="off" readonly>
                        <span class="input-group-text" id="calendar-icon-due" style="cursor: pointer;">
                            <i class="fa fa-calendar"></i>
                        </span>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Invoice Title</label>                                                  
                        <input type="text" name="title" class="form-control">                  
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Invoice Type</label>                                                  
                        <select class="form-control form-select" name="type">
                            <option value="proforma" selected>Proforma</option>
                            <option value="formal">Formal</option>                                    
                        </select>    
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Invoice Category</label>                                                  
                        <select class="form-control form-select" name="category">
                            <option value="others" selected>Others</option>
                            <option value="hosting">Hosting</option>                                    
                        </select>    
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label"></label>                                                  
                        <input type="submit" value="Create Invoice" class="btn btn-primary">                   
                    </div>
                </form>
               
            </div>
        </div>	
    </div>

    
    <div class="col-sm-8">        
        <div class="card">
            <div class="card-header">
                <h5 class="py-2">Created Invoices</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="invoice-table">
                        <thead>
                            <tr>
                                <th scope="col">Invoice</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Title</th>
                                <th scope="col">Date</th>
                                <th scope="col">Type</th>
                                <th scope="col">Status</th>
                                <th scope="col" class="text-center">Actions</th>                    
                            </tr>
                        </thead>
                        {% if invoice_list %}      
                        <tbody>
                            {% for invoice in invoice_list %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{ invoice.customer }}</td>
                                <td>{{ invoice.title }}</td>
                                <td>{{ invoice.date|date:"SHORT_DATE_FORMAT" }}</td>
                                <td><strong>{{ invoice.invoice_type |upper }}</strong></td>
                                <td>{{ invoice.status }}</td>                                
                                <td class="text-center">
                                    <a href="{% url 'invoice:invoice-detail' invoice.id %}" style="color:orange;font-size: 22px;"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                    <a class="delete-invoice bs-modal mr-2" data-form-url="{% url 'invoice:delete_invoice' invoice.id %}">
                                        <i class="fa fa-trash text-danger" style="font-size: 22px;"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody> 
                        {% endif %}                      
                      </table>
                </div>
            </div>
        </div>
    </div>
    
</div>

<!-- Modal 1 with id="create Modal"-->
<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
  
  <!-- Modal 2 with id="modal" -->
  <div class="modal fade" tabindex="-1" role="dialog" id="modal" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
{% endblock content %}


{% block javascript %}
<script>
    $(function () {  
      $(".delete-invoice").each(function () {
          $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
      });
    });
  </script>

<script>
    $(document).ready(function() {
        var table = $('#invoice-table').DataTable( {
        dom: 'Bfrtip',
            buttons: ['excel', 'pdf','print'],
            initComplete: function() {
            $('.buttons-excel').html('<i class="fa table-buttons fa-file-excel-o text-success"/>')
            $('.buttons-pdf').html('<i class="fa table-buttons fa-file-pdf-o text-danger"/>')
            $('.buttons-print').html('<i class="fa table-buttons fa-print text-dark"/>')
            }
        } );
    
        table.buttons().container()
            .appendTo( '#invoice-table_wrapper .col-md-6:eq(0)' );

        
    } );
</script>
<script>
  new SlimSelect({
    select: '#slim-select'
  });
</script>
<script>
  $(function () {
    // Initialize datepicker manually without auto-show
    $('#due-date').datepicker({
      format: 'dd/mm/yyyy',
      autoclose: true,
      orientation: 'bottom left',
      todayHighlight: true
    });

    // Open when input or icon is clicked
    $('#due-date, #calendar-icon-due').on('click', function () {
      $('#due-date').datepicker('show');
    });
  });
</script>
{% endblock javascript %}
    
    