{% extends 'base.html' %}

{% block title %}
  {{invoice.customer.name}}
{% endblock title %}

{% block content %} 
<div class="">
    {% if invoice %}
        <div class="row pt-4">
            {% if error_message %}
            <div class="alert alert-danger">{{ error_message }}</div>
            {% endif %}
                <!-- Customer Information -->
                <div class="col-lg-4 ">
                    <div class="card">
                        <div class="card-body">            
                                <h2>Customer Information</h2>
                                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" action="{% url 'invoice:update-invoice' invoice.id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 ">
                                            <p class="form-control-static"><a href="#" class=" text-decoration-none">{{ invoice.customer }}</a></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-sm-3 label-align" for="last-name">Date: <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="text" class="form-control" name="date" id="invoicedate" value="{{ invoice.date|date:"SHORT_DATE_FORMAT" }}">
                                        </div>
                                        <script type="text/javascript">
                                            $(function () {
                                                $('#invoicedate').datepicker({
                                                    todayBtn: "linked",
                                                    orientation: "bottom left",
                                                    autoclose: true
                                                });
                                            });
                                        </script>
                                    </div>
                                    <div class="item form-group">
                                        <label for="middle-name" class="col-md-3 col-sm-3 label-align">Status</label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <select name="status" class="form-control">
                                                <option value="Draft" {% if invoice.draft %}selected{% endif %}>Draft</option>
                                                <option value="Paid" {% if invoice.paid %}selected{% endif %}>Paid</option>
                                                <option value="Unpaid" {% if invoice.unpaid %}selected{% endif %}>Unpaid</option>
                                            <select>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="form-label">Due Date</label>                                                  
                                        <input type="text" name="due_date" class="form-control" value="{{invoice.due_date|date:"SHORT_DATE_FORMAT"}}">                  
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="form-label">Invoice Title</label>                                                  
                                        <input type="text" name="title" class="form-control" value="{{invoice.title}}">                  
                                    </div>
                                    <div class="form-group py-3">
                                        <div class="col-sm-12 d-flex d-inline">
                                            <input type="submit" value="Update Invoice" class="btn btn-outline-primary btn-lg">
                                        </div>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
        <!-- Invoice items -->
        <div class="col-lg-8">
            <div class="row">
                <div class="col-md-8">
                    <h2>ORDER ITEMS</h2>
                </div>
                <div class="col-md-4 d-flex justify-content-end mb-3">
                    <button id="create-item" class="btn btn-primary btn-lg" type="button" name="button">Add Item</button>
                </div>
            </div>
            <div class="card">
                <div class="card-body"> 
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Description</th>
                                    <th>Cost(Tsh)</th>
                                    <th>Qty</th>
                                    <th>Total(Tsh)</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for item in invoice.orderitem_set.all %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ item.description }}</td>
                                    <td>{{ item.cost }}</td>
                                    <td>{{ item.qty }}</td>
                                    <td>{{ item.total }}</td>
                                    <td class="d-inline">
                                        <a class="update-item bs-modal mr-2" data-form-url="{% url 'invoice:update_item' invoice.id item.id %}" style="cursor:pointer">
                                            <i class="fa fa-edit text-warning fa-2x"></i>
                                        </a>
                                        <a class="delete-item bs-modal ms-2" data-form-url="{% url 'invoice:delete_item' invoice.id item.id %}" style="cursor:pointer">
                                            <i class="fa fa-trash text-danger fa-2x"></i>
                                        </a>
                                    </td>								
                                </tr>
                                {% endfor  %}
                                </tbody>
                                <div class="d-flex justify-content-end mb-3"><strong>Total:{{ invoice.total_items }}</strong></div>
                            </table>                                
                        <div class="row py-3">
                            <div class="col-sm-6">                                
                            </div>
                            <div class="col-sm-2">
                                <a href="./send1"><i class="fa fa-2x fa-envelope" style="color: #ff0d33;"></i></a>
                            </div>
                            <div class="col-sm-2">
                                <a href=".send2"><i class="fa fa-2x fa-envelope" style="color: #008000;"></i></a>
                            </div>
                            <div class="col-sm-2">
                                <a href=".send3"><i class="fa fa-2x fa-envelope" style="color: #1B75BC;"></i></a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- Modal 1 with id="create-book"-->
<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
  
  <!-- Modal 2 with id="modal" -->
  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
    $(function () {
  
      $(".delete-item").each(function () {
          $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
      });
  
      $("#create-item").modalForm({
          formURL: "{% url 'invoice:create_item' invoice.id %}",
          modalID: "#create-modal"
      });

      $(".update-item").each(function () {
        $(this).modalForm({
            formURL: $(this).data('form-url')
        });
      });
  
    });
  </script>
 {% endblock javascript %}
