{% extends 'base.html' %}
{% load static %}

{% block title %}
     {{title}}
{% endblock title %}

{% block stylesheet %}
<style>
  @media screen and (min-width:768px){
    #invoice-table_filter{
    float: right !important;
  }
  }
</style>
{% endblock stylesheet %}
    
{% block content %}
  
  <div class="card">
    <div class="card-header">   
        <h2 class="py-2">{{title}}     
        <a href="{% url 'invoice:new-invoice' %}"class="btn btn-outline-primary btn-lg float-right" type="button" name="button">New Invoice</a>
        </h2>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table" id="invoice-table">
              <thead>
                  <tr>
                      <th scope="col">Invoice</th>
                      <th scope="col">Customer</th>
                      <th scope="col">Title</th>
                      <th scope="col">Date</th>
                      <th scope="col">Status</th>
                      <th scope="col" class="text-center">Actions</th>
          
                  </tr>
              </thead>
              
             
              <tbody>
                  {% for invoice in invoice_list %}
                  <tr>
                      <th scope="row">{{forloop.counter}}</th>
                      <td>{{ invoice.customer }}</td>
                      <td>{{ invoice.title }}</td>
                      <td>{{ invoice.date|date:"SHORT_DATE_FORMAT" }}</td>
                      <td><span class="badge {% if invoice.status == 'Paid' %}bg-success{% elif invoice.status == 'Unpaid' %} bg-danger {% else %} bg-warning {% endif %}">{{ invoice.status }}</span></td>                                
                      <td class="text-center">
                        <div class="row">
                          <div class="col-4">
                            <a class="delete-invoice bs-modal" data-form-url="{% url 'invoice:invoice-delete' invoice.id %}">
                              <i class="fa fa-trash text-danger mr-2" style="font-size: 22px; cursor:pointer;"></i>
                          </a>  
                            <a href="{% url 'invoice:invoice-detail' invoice.id %}" style="color:orange;font-size: 22px;"><i class="fa fa-edit mr-2" aria-hidden="true"></i></a> 
                          </div>
                          <div class="col-8">
                            <form action="{% url 'invoice:download-invoice' invoice.id %}" method="post">
                              {% csrf_token %}                     
                                <button class="btn bafro-btn" type='submit' name="rare" style="color:green;font-size: 22px;" download="Invoice to {{invoice.customer.name}} Created on {{invoice.date}}"><i class="fa fa-download mr-2 text-success" aria-hidden="true"></i></button>
                                <button class="btn jaybla-btn" type='submit' name='jaybla' style="color:#ff0d33;font-size: 22px;" download="Invoice to {{invoice.customer.name}} Created on {{invoice.date}}"><i class="fa fa-download mr-2" aria-hidden="true"></i></button>
                                <button class="btn bafro-btn" type='submit' name='bafro'  style="color:#1b75bb;font-size: 22px;" download="Invoice to {{invoice.customer.name}} Created on {{invoice.date}}"><i class="fa fa-download" aria-hidden="true"></i></button>
                            </form> 
                          </div>
                        </div>                                      
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
             
            </table>
      </div>
      </div>
  </div>
  <!-- Modal 1 with id="create Modal"-->
<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
  
  <!-- Modal 2 with id="modal" -->
  <div class="modal fade" tabindex="-1" role="dialog" id="modal" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
{% endblock content %}


{% block javascript %}

<script>
$(document).ready(function () {
    $('#invoice-table').DataTable();
});
</script>
<script>
    $(function () {  
      $(".delete-invoice").each(function () {
          $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
      });
    });
  </script>
{% endblock javascript %}
    
    
