    {% for receipt in receipts %}
    <tr>
        <td>{{ receipt.id }}</td>
        <td>{{ receipt.customer }}</td>
        <td>{{ receipt.description }}</td>
        <td>{{ receipt.date }}</td>        
        <td>{{ receipt.amount }}</td>
        <td>{{ receipt.status }}</td>
        <td>
            <button class="btn btn-warning btn-sm update-receipt mb-2"
            data-url="{% url 'receipt:receipt_update' receipt.id %}" ><i class="fa fa-edit" aria-hidden="true"></i></button><br>
            <button type="button"
              class="btn btn-danger btn-sm delete-receipt"
              data-url="{% url 'receipt:receipt_delete' receipt.id %}">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="7" class="text-center bg-warning">No Receipts</td>
    </tr>
    {% endfor %}
