    {% for receipt in receipts %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ receipt.customer }}</td>
        <td>{{ receipt.description }}</td>
        <td>{{ receipt.date }}</td>        
        <td>{{ receipt.amount }}</td>
        <td>{{ receipt.status }}</td>
        <td class="d-inline d-flex justify-content-center">
            <a class="text-warning update-receipt mb-2"
            data-url="{% url 'receipt:update-receipt' receipt.id %}"  style="cursor:pointer;"><i class="fa fa-edit fa-2x me-3" aria-hidden="true"></i></a>
            <a class="text-danger delete-receipt" data-url="{% url 'receipt:delete-receipt' receipt.id %}" style="cursor:pointer;"><i class="fa fa-trash fa-2x me-3"></i></a>
            <a href="{% url 'receipt:download-receipt' receipt.id %}" download="Receipt to {{receipt.customer.name}} on {{receipt.description}}"><i class="fa fa-download fa-2x text-success" aria-hidden="true"></i></a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="7" class="text-center bg-warning">No Receipts</td>
    </tr>
    {% endfor %}
