{% load widget_tweaks %}

<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
  
    <div class="modal-header bg-blue text-light">
      <h5 class="modal-title">Add Item</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div> 
  
    <div class="modal-body">
  
      <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
        <div class="form-group mb-3">
          <label class="mb-2"><b>Description</b></label>
          {% render_field form.description class="form-control" placeholder="Description" rows="3" %}
          <div class="{% if field.errors %} invalid{% endif %}">
            {% for error in field.form.description.errors %}
              <p class="help-block">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="mb-2"><b>Cost</b></label>
          {% render_field form.cost class="form-control" placeholder="Unit Cost"%}
          <div class="{% if field.errors %} invalid{% endif %}">
            {% for error in field.form.cost.errors %}
              <p class="help-block">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="mb-2"><b>Quantity</b></label>
          {% render_field form.qty class="form-control" placeholder="Quantity"%}
          <div class="{% if field.errors %} invalid{% endif %}">
            {% for error in field.form.qty.errors %}
              <p class="help-block">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
    </div>
  
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  
  </form>