{% extends 'base.html' %}
{% load static %}
{% block title %}All Quotations{% endblock title %}

{% block stylesheet %}
<style>
    @media screen and (min-width:768px){
        #quotation-table_filter{
        float: right !important;
        }
    }

    .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #34495e;
    border-color: #95a5a6;
    }
</style>
{% endblock stylesheet %}


{% block content %}
    
    <div class="card">
        <div class="card-header">
            <h2 class="py-2">All Quotations
            <a href="{% url 'quotation:new-quotation' %}" class="btn btn-outline-primary btn-lg float-right" type="button" name="button">New Quotation</a>
            </h2>
          </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="quotation-table">
                    <thead>
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Quote Title</th>
                            <th scope="col">Date</th>
                            <th scope="col" class="text-center">Actions</th>
                
                        </tr>
                    </thead>
                    
                    
                    <tbody>
                        {% for quotation in quotation_list %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{ quotation.customer }}</td>
                            <td>{{ quotation.quote_title }}</td> 
                            <td>{{ quotation.date|date:"SHORT_DATE_FORMAT" }}</td>
                            <td class="text-center">
                                <a href="{% url 'quotation:quotation-detail' quotation.id %}" style="color:orange;font-size: 22px;cursor:pointer;"><i class="fa fa-edit mr-2" aria-hidden="true"></i></a>
                                <a class="delete-quotation bs-modal mr-2" data-form-url="{% url 'quotation:delete_quotation' quotation.id %}">
                                    <i class="fa fa-trash text-danger mr-2" style="font-size: 22px;cursor:pointer;"></i>
                                </a>
                                <form action="{% url 'quotation:download-quotation' quotation.id %}" method="post">
                                  {% csrf_token %}                     
                                    <button class="btn rare-btn" type='submit' name="rare" style="color:green;font-size: 22px;" download="Quotation to {{quotation.customer.name}} on {{quotation.title}}"><i class="fa fa-download mr-2" aria-hidden="true"></i></button>
                                    <button class="btn jaybla-btn" type='submit' name='jaybla' style="color:#ff0d33;font-size: 22px;" download="Quotation to {{quotation.customer.name}} on {{quotation.title}}"><i class="fa fa-download mr-2" aria-hidden="true"></i></button>
                                    <button class="btn bafro-btn" type='submit' name='bafro'  style="color:#1b75bb;font-size: 22px;" download="Quotation to {{quotation.customer.name}} on {{quotation.title}}"><i class="fa fa-download" aria-hidden="true"></i></button>
                                </form> 
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                   
                    </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal 1 with id="create Modal"-->
<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
  
  <!-- Modal 2 with id="modal" -->
  <div class="modal fade" tabindex="-1" role="dialog" id="modal" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
{% endblock content %}


{% block javascript %}
<script>
    $(function () {  
      $(".delete-quotation").each(function () {
          $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
      });
    });
  </script>

<script>
  $(document).ready(function() {
      var table = $('#quotation-table').DataTable();
  } );
</script>
{% endblock javascript %}
    
    