{% extends 'base.html' %}
{% load static %}
{% block title %}All Quotations{% endblock title %}

{% block stylesheet %}
<style>
    @media screen and (min-width:768px){
        #quotation-table_filter{
        float: right !important;
        }
    }

    .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #34495e;
    border-color: #95a5a6;
    }
</style>
{% endblock stylesheet %}


{% block content %}
    
    <div class="card">
        <div class="card-header">
            <h4 class="py-2">All Quotations
            </h4>
          </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="quotation-table">
                    <thead>
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Quote Title</th>
                            <th scope="col">Date</th>
                            <th scope="col" class="text-center">Actions</th>
                
                        </tr>
                    </thead>
                    
                    
                    <tbody>
                        {% for quotation in quotation_list %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{ quotation.customer }}</td>
                            <td>{{ quotation.quote_title }}</td> 
                            <td>{{ quotation.date|date:"SHORT_DATE_FORMAT" }}</td>
                            <td class="d-inline d-flex align-items-center justify-content-center">                              
                                  <a href="{% url 'quotation:quotation-detail' quotation.id %}"><i class="fa fa-edit me-3 text-warning fa-2x" aria-hidden="true"></i></a>
                                  <a class="delete-quotation bs-modal me-3" data-form-url="{% url 'quotation:delete_quotation' quotation.id %}">
                                      <i class="fa fa-trash text-danger fa-2x" style="cursor:pointer;"></i>
                                  </a>
                                  <a href="{% url 'quotation:download-quotation' quotation.id %}" download="Quotation to {{quotation.customer.name}} on {{quotation.quote_title}}"><i class="fa fa-download me-3 fa-2x text-success-main" aria-hidden="true"></i></a> 
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                   
                    </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal 1 with id="create Modal"-->
<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
  
  <!-- Modal 2 with id="modal" -->
  <div class="modal fade" tabindex="-1" role="dialog" id="modal" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
{% endblock content %}


{% block javascript %}
<script>
    $(function () {  
      $(".delete-quotation").each(function () {
          $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
      });
    });
  </script>

<script>
  $(document).ready(function() {
      var table = $('#quotation-table').DataTable();
  } );
</script>
{% endblock javascript %}
    
    