{% extends 'base.html' %}
{% load static %}
{% block title %}All Receipts{% endblock title %}

{% block stylesheet %}
<style>
    .table-buttons{
        background-color: #fff !important;
        padding: 5px;
        border-radius: 2px;
        font-size:18px;
    }

    div.dt-buttons {
        float: right;
        margin-left:10px;
    }
    .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #34495e;
    border-color: #95a5a6;
    }
</style>
{% endblock stylesheet %}


{% block content %}    
    <div class="card">
        <div class="card-header">
            <h2 class="py-2">All Receipts
            <a id="create-receipt" class="btn btn-outline-primary text-primary btn-lg float-right" type="button" name="button">New Receipt</a>
            </h2>
          </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="quotation-table">
                    <thead>
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Description</th>
                            <th scope="col">Date</th>
                            <th scope="col" class="text-center">Actions</th>
                
                        </tr>
                    </thead>
                    
                    {% for receipt in receipt_list %}
                    <tbody>
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{ receipt.customer }}</td>
                            <td>{{ receipt.description }}</td> 
                            <td>{{ receipt.date|date:"SHORT_DATE_FORMAT" }}</td>
                            <td class="text-center">
                                <a class="update-receipt bs-modal mr-2" data-form-url="{% url 'receipt:update_receipt' receipt.id %}" style="cursor:pointer;font-size: 22px">
                                    <i class="fa fa-edit text-warning"></i>
                                  </a>
                                <a href="{% url 'receipt:download-receipt' receipt.id %}" style="color:#008000;font-size: 22px;"><i class="fa fa-download mr-2" aria-hidden="true"></i></a>
                                <a class="delete-receipt bs-modal mr-2" data-form-url="{% url 'receipt:delete_receipt' receipt.id %}" style="cursor: pointer;">
                                    <i class="fa fa-trash text-danger" style="font-size: 22px;"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                    </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal 1 with id="create Modal"-->
<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
  
  <!-- Modal 2 with id="modal" -->
  <div class="modal fade" tabindex="-1" role="dialog" id="modal" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
{% endblock content %}


{% block javascript %}
<script>
    $(function () {  
      $(".delete-receipt").each(function () {
          $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
      });
    });

    $("#create-receipt").modalForm({
          formURL: "{% url 'receipt:new-receipt' %}",
          modalID: "#create-modal"
      });

      $(".update-receipt").each(function () {
        $(this).modalForm({
            formURL: $(this).data('form-url')
        });
      });
  </script>
  

<script>
  $(document).ready(function() {
      var table = $('#quotation-table').DataTable( {
      dom: 'Bfrtip',
          buttons: ['excel', 'pdf','print'],
          initComplete: function() {
          $('.buttons-excel').html('<i class="fa table-buttons fa-file-excel-o text-success"/>')
          $('.buttons-pdf').html('<i class="fa table-buttons fa-file-pdf-o text-danger"/>')
          $('.buttons-print').html('<i class="fa table-buttons fa-print text-dark"/>')
          }
      } );
  
      table.buttons().container()
          .appendTo( '#quotation-table_wrapper .col-md-6:eq(0)' );    
      
  } );
</script>
{% endblock javascript %}
    
    