{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark dark-color">
    <div class="container-fluid py-2">
      <a class="navbar-brand" href="/"><img src="{% static 'img/logo-with-name.png' %}" alt="logo" style="width:120pt;height:auto;"></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">            
            <a href="{% url 'invoice:customer-create-list' %}"><button type="button" class="btn btn-primary">Register Customer</button></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'invoice:new-invoice' %}"><button type="button" class="btn btn-primary">New Invoice</button></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'quotation:new-quotation' %}"><button type="button" class="btn btn-primary">New Quotation</button></a>
          </li>
        </ul>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% if request.user %}
      <div class="btn-group dropstart">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          {{request.user.username}}
        </button>
        <ul class="dropdown-menu dropdown-menu-dark light-color" aria-labelledby="navbarDarkDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'users:profile' %}"><i class="fa fa-user" aria-hidden="true"></i>Profile</a></li>
          <li><a class="dropdown-item" href="{% url 'users:logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
        </ul>
      </div>
      {% endif %}
    </div>
  </nav>