{% load static %}
<!-- jQuery library js -->
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<!-- Apex Chart js -->
<script src="{% static 'js/apexcharts.min.js' %}"></script>
<!-- Iconify Font js -->
<script src="{% static 'js/iconify-icon.min.js' %}"></script>
<!-- jQuery UI js -->
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<!-- Vector Map js -->
<script src="{% static 'js/jquery-jvectormap-2.0.5.min.js' %}"></script>
<script src="{% static 'js/jquery-jvectormap-world-mill-en.js' %}"></script>
<!-- Popup js -->
<script src="{% static 'js/magnifc-popup.min.js' %}"></script>
<!-- Slick Slider js -->
<script src="{% static 'js/slick.min.js' %}"></script>
<!-- prism js -->
<script src="{% static 'js/prism.js' %}"></script>
<!-- file upload js -->
<script src="{% static 'js/file-upload.js' %}"></script>
<!-- audioplayer -->
<script src="{% static 'js/audioplayer.js' %}"></script>

<!-- main js -->
<script src="{% static 'js/app.js' %}"></script>
<!-- Select2 JS -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slim-select@1.27.0/dist/slimselect.min.js"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<!-- DataTables core -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

<!-- DataTables Buttons -->
<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">
<!-- bootstrap modal form -->
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>



