
{% load static %}
<aside class="sidebar">
    <button type="button" class="sidebar-close-btn">
        <iconify-icon icon="radix-icons:cross-2"></iconify-icon>
    </button>
    <div>
        <a href="{# url 'index' #}" class="sidebar-logo">
            <img src="{% static 'images/logo.png' %}" alt="site logo"
                class="light-logo">
            <img src="{% static 'images/logo-light.png' %}" alt="site logo"
                class="dark-logo">
            <img src="{% static 'images/logo-icon.png' %}" alt="site logo"
                class="logo-icon">
        </a>
    </div>
    <div class="sidebar-menu-area">
        <ul class="sidebar-menu" id="sidebar-menu">
            
            <li class="sidebar-menu-group-title">QUOTATIONS</li>
            <li>
                <a href="{% url 'quotation:create-quotation' %}">
                    <i class="fa-solid fa-shield-plus"></i>
                    <span>Create Quotation</span>
                </a>
            </li>
            <li>
                <a href="{% url 'quotation:quotation-list' %}">
                    <i class="fa-regular fa-list-ol"></i>
                    <span>Quotation List</span>
                </a>
            </li>
            <li class="sidebar-menu-group-title">INVOICES</li>
            <li>
                <a href="{% url 'invoice:create-invoice' %}">
                    <i class="fa-solid fa-shield-plus"></i>
                    <span>Create Invoice</span>
                </a>
            </li>
            <li>
                <a href="{% url 'invoice:invoice-list' %}">
                    <i class="fa-regular fa-list-ol"></i>
                    <span>Invoice List</span>
                </a>
            </li>
            <li class="sidebar-menu-group-title">RECEIPTS</li>
            <li>
                <a href="{% url 'receipt:create-receipt' %}">
                    <i class="fa-solid fa-shield-plus"></i>
                    <span>Create Receipt</span>
                </a>
            </li>
            <li>
                <a href="{% url 'receipt:receipt-list' %}">
                    <i class="fa-regular fa-list-ol"></i>
                    <span>Receipt List</span>
                </a>
            </li>
            <li class="sidebar-menu-group-title">DELIVERY NOTES</li>
            <li>
                <a href="{# url 'quotation:create-delivery-note' #}">
                    <i class="fa-solid fa-shield-plus"></i>
                    <span>Create Delivery Note</span>
                </a>
            </li>
            <li>
                <a href="{# url 'quotation:delivery-note-list' #}">
                    <i class="fa-regular fa-list-ol"></i>
                    <span>Delivery Note List</span>
                </a>
            </li>
        </ul>
    </div>
</aside>