{% extends 'authbase.html' %}
{% load static %}


{% block title %}
  Login Page
{% endblock title %}
  
{% block content %}

    <!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="splash-container">
      <div class="card ">
          <div class="card-header text-center"><a href="../index.html"><img class="logo-img" src="{% static 'assets/images/logo.png' %}" alt="logo"></a><span class="splash-description">Please enter your user information.</span></div>
          <div class="card-body">
            <form method="POST" action="">
              {% csrf_token %}
            {% include 'includes/bs5_form.html' with form=form %}  
            <div class="d-grid">
              <button class="btn btn-block btn-secondary rounded-pill mt-3">Login</button>
            </div>
          </form>
          </div>
          <div class="card-footer bg-white p-0  ">
              <div class="card-footer-item card-footer-item-bordered">
                  <a href="{% url 'users:register' %}" class="footer-link">Create An Account</a></div>
              <div class="card-footer-item card-footer-item-bordered">
                  <a href="#" class="footer-link">Forgot Password</a>
              </div>
          </div>
      </div>
  </div>

  <!-- ============================================================== -->
  <!-- end login page  -->
  <!-- ============================================================== -->
{% endblock content %}