{% extends 'base2.html' %}
{% load static %}


{% block title %}
  Login Page
{% endblock title %}
  
{% block content %}

<main class="container my-5">
  <div class="row">
    <section class="col-md-6 my-5 offset-md-3">

      <div class="card shadow p-5">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="d-flex justify-content-center">
              <img src="{% static 'img/logo-with-name.png' %}" alt="logo" style="width:150pt;height:auto;">
            </div>          
          <hr>
          {% include 'includes/bs5_form.html' with form=form %}

          <div class="d-grid">
            <button class="btn btn-block btn-secondary rounded-pill mt-3">Login</button>
          </div>
        </form>
        <div class="pt-3 text-center">
            <small class="text-light">
                Don't Have An Account? <a class="ml-2" href="{% url 'users:register' %}" style="color: #95a5a5;font-size: 16px;">Sign Up</a>
            </small>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock content %}