{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock title %}
    

{% block stylesheet %}
<style>
    .table-buttons{
        background-color: #fff !important;
        padding: 5px;
        border-radius: 2px;
        font-size:18px;
    }

    div.dt-buttons {
        float: right;
        margin-left:10px;
    }
    .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #34495e;
    border-color: #95a5a6;
    }
</style>
{% endblock stylesheet %}
    

{% block content %}
    <!-- Row-1 -->
    <div class="row mt-5">
        <div class="col-xl-4 col-lg-4 col-md-4 col-xm-12">
            <div class="card overflow-hidden dash1-card border-0 bg-primary-transparent">
                <div class="card-body">
                    <div class="text-center">
                        <span class="fs-14 font-weight-normal">Total Customers</span>
                        <h2 class="mb-2 number-font carn1 font-weight-bold text-primary">{{customer_count}}</h2>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-xm-12">
            <div class="card overflow-hidden dash1-card border-0 bg-success-transparent">
                <div class="card-body">
                    <div class="text-center">
                        <span class="fs-14">Total Invoices</span>
                        <h2 class="mb-2 mt-1 number-font carn2 font-weight-bold  text-success">{{invoice_count}}</h2>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-xm-12">
            <div class="card overflow-hidden dash1-card border-0 bg-warning-transparent">
                <div class="card-body">
                    <div class="text-center">
                        <span class="fs-14">Total Quotations</span>
                        <h2 class="mb-2 mt-1 number-font carn2 font-weight-bold  text-warning">{{quotation_count}}</h2>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row-1 -->
{% endblock content %}

{% block javascript %}
{% endblock javascript %}
    
    
