{% extends 'base.html' %}
{% load static %}

{% block title %}
     {{title}}
{% endblock title %}


{% block stylesheet %}

{% endblock stylesheet %}
  
    
{% block content %}
  <div class="card"> 
      <div class="card-header">
        <h2 class="py-2">{{title}}             
        <a id="create-mail" class="btn btn-outline-primary btn-lg float-right" type="button" name="button">Compose Mail</a>
        </h2>
      </div>

      <div class="card-body">
          <div class="table-responsive">
              <table class="table" id="customer-table">
                  <thead>
                    <tr>
                      <th scope="col">S/N</th>
                      <th scope="col">Client Name</th>
                      <th scope="col">Mail Subject</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  
                  
                  <tbody>
                      {% for m in mails %}
                    <tr>
                      <th>{{forloop.counter}}</th>
                      <td>{{m.customer.name}}</td>
                      <td>{{m.subject}}</td>
                      <td>
                          <a class="update-client-mail bs-modal mr-2" data-form-url="{% url 'clientmailer:mail_update' m.id %}" style="cursor:pointer;font-size: 22px">
                            <i class="fa fa-edit text-warning"></i>
                          </a>

                          <a class="delete-client-mail bs-modal mr-2" data-form-url="{% url 'clientmailer:mail_delete' m.id %}">
                              <i class="fa fa-trash text-danger" style="font-size: 22px; cursor:pointer;"></i>
                          </a>
                          <a href="{% url 'clientmailer:send_mail' m.id %}">
                            <i class="fa fa-share-square text-info" style="font-size: 24px; cursor:pointer;"></i>
                          </a>                                
                      </td>
                    </tr>     
                    {% endfor %}         
                  </tbody>                        
                </table>
          </div>
      </div>
  </div>
<!-- Modal 1 with id="create Modal"-->
<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
  
  <!-- Modal 2 with id="modal" -->
  <div class="modal fade" tabindex="-1" role="dialog" id="modal" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
{% endblock content %}


{% block javascript %}
<script>
  $(document).ready(function() {
  var table = $('#customer-table').DataTable( {
  dom: 'Bfrtip',
      buttons: ['excel', 'pdf','print'],
      initComplete: function() {
      $('.buttons-excel').html('<i class="fa table-buttons fa-file-excel-o text-success"/>')
      $('.buttons-pdf').html('<i class="fa table-buttons fa-file-pdf-o text-danger"/>')
      $('.buttons-print').html('<i class="fa table-buttons fa-print text-dark"/>')
      }
  } );

  table.buttons().container()
      .appendTo( '#customer-table_wrapper .col-md-6:eq(0)' );

  
} );
</script>

<script>
    $(function () {  
      $(".delete-client-mail").each(function () {
          $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
      });
      });
      $("#create-mail").modalForm({
          formURL: "{% url 'clientmailer:mail_create' %}",
          modalID: "#create-modal"
      });
      $(".update-client-mail").each(function () {
        $(this).modalForm({
            formURL: $(this).data('form-url')
        });
      });
  </script>
{% endblock javascript %}
    
    
