<!-- meta tags and other links -->
<!DOCTYPE html>
<html lang="en" data-theme="light">
  {% include "includes/head.html"%}
  <body>
    {% include "includes/sidebar.html" %}

    <main class="dashboard-main">
      {% include "includes/navbar.html" %}
        <div class="dashboard-main-body">
            {% include "includes/breadcrumb.html" with title=title subTitle=subTitle %} 
                {% block content %} 
                {% endblock %}
        </div>

      {% include "includes/footer.html" %}
    </main>
    {% include "includes/scripts.html" %}
    {% block javascript %} {% endblock javascript %}
  </body>
</html>
