{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock title %}
    

{% block stylesheet %}
<style>
    .table-buttons{
        background-color: #fff !important;
        padding: 5px;
        border-radius: 2px;
        font-size:18px;
    }

    div.dt-buttons {
        float: right;
        margin-left:10px;
    }
    .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #34495e;
    border-color: #95a5a6;
    }
</style>
{% endblock stylesheet %}
    

{% block content %}
    <!-- Row-1 -->
    <div class="row mt-5">
        <div class="col-xl-4 col-lg-4 col-md-4 col-xm-12">
            <div class="card overflow-hidden dash1-card border-0 bg-primary-transparent">
                <div class="card-body">
                    <div class="text-center">
                        <span class="fs-14 font-weight-normal">Total Customers</span>
                        <h2 class="mb-2 number-font carn1 font-weight-bold text-primary">{{customer_count}}</h2>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-xm-12">
            <div class="card overflow-hidden dash1-card border-0 bg-success-transparent">
                <div class="card-body">
                    <div class="text-center">
                        <span class="fs-14">Total Invoices</span>
                        <h2 class="mb-2 mt-1 number-font carn2 font-weight-bold  text-success">{{invoice_count}}</h2>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-xm-12">
            <div class="card overflow-hidden dash1-card border-0 bg-warning-transparent">
                <div class="card-body">
                    <div class="text-center">
                        <span class="fs-14">Total Quotations</span>
                        <h2 class="mb-2 mt-1 number-font carn2 font-weight-bold  text-warning">{{quotation_count}}</h2>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row-1 -->

    <!-- Row-3 -->
    <div class="row row-deck">
        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">
                        Customers
                    </h2>
                </div>
                <div class="card-body p-3">
                    <div class="table-responsive">
                        <table class="table table-hover card-table table-vcenter text-nowrap" id="customer-table">
                            <thead class="border-bottom-0 pt-3 pb-3">
                                <tr>
                                    <th>S/N</th>                                    
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Physical Address</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for customer in customers %}
                                <tr>
                                    <th>{{forloop.counter}}</th>
                                    <td>{{customer.name}}</td>
                                    <td>{{customer.phone}}</td>
                                    <td>{{customer.email}}</td>
                                    <td>{{customer.physical_address}}</td>
                                    <td class="text-center">
                                        <a href="{% url 'invoice:customer-detail' customer.id %}" style="color:orange;font-size: 20px;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>                               
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">
                        Invoices
                    </h2>
                </div>
                <div class="card-body p-3">
                    <div class="table-responsive">
                        <table class="table table-hover card-table table-vcenter text-nowrap" id="invoice-table">
                            <thead class="border-bottom-0 pt-3 pb-3">
                                <tr>
                                    <th>S/N</th>
                                    <th>Invoice</th>
                                    <th>Customer</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for invoice in invoice_list %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{ invoice.customer }}</td>
                                    <td>{{ invoice.date|date:"SHORT_DATE_FORMAT" }}</td>
                                    <td><span class="badge {% if invoice.status == 'Paid' %}bg-success{% elif invoice.status == 'Unpaid' %} bg-danger {% else %} bg-warning {% endif %}">{{ invoice.status }}</span></td>                                
                                    <td class="text-center">
                                        <a href="{% url 'invoice:invoice-detail' invoice.id %}" style="color:orange;font-size: 22px;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a href="{% url 'invoice:download-invoice' invoice.id %}" style="color:green;font-size: 22px;"><i class="fa fa-download" aria-hidden="true"></i></a>  
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">
                        Quotations
                    </h2>
                </div>
                <div class="card-body p-3">
                    <div class="table-responsive">
                        <table class="table table-hover card-table table-vcenter text-nowrap" id="quotation-table">
                            <thead class="border-bottom-0 pt-3 pb-3">
                                <tr>
                                    <th>S/N</th>
                                    <th scope="col">Customer</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Quote Title</th>
                                    <th scope="col" class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for quotation in quotation_list %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{ quotation.customer }}</td>
                                    <td>{{ quotation.date|date:"SHORT_DATE_FORMAT" }}</td>
                                    <td>{{ quotation.quote_title }}</td>                                
                                    <td class="text-center">
                                        <a href="{% url 'quotation:quotation-detail' quotation.id %}" style="color:orange;font-size: 22px;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a href="{% url 'quotation:download-quotation' quotation.id %}" style="color:green;font-size: 22px;"><i class="fa fa-download" aria-hidden="true"></i></a>   
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row-3 -->

{% endblock content %}


{% block javascript %}
    <script>
        $(document).ready(function() {
            var table = $('#customer-table').DataTable( {
            dom: 'Bfrtip',
                buttons: ['excel', 'pdf','print'],
                initComplete: function() {
                $('.buttons-excel').html('<i class="fa table-buttons fa-file-excel-o text-success"/>')
                $('.buttons-pdf').html('<i class="fa table-buttons fa-file-pdf-o text-danger"/>')
                $('.buttons-print').html('<i class="fa table-buttons fa-print text-dark"/>')
                }
            } );
        
            table.buttons().container()
                .appendTo( '#customer-table_wrapper .col-md-6:eq(0)' );
    
            
        } );
    </script>
    <script>
        $(document).ready(function() {
            var table = $('#invoice-table').DataTable( {
            dom: 'Bfrtip',
                buttons: ['excel', 'pdf','print'],
                initComplete: function() {
                $('.buttons-excel').html('<i class="fa table-buttons fa-file-excel-o text-success"/>')
                $('.buttons-pdf').html('<i class="fa table-buttons fa-file-pdf-o text-danger"/>')
                $('.buttons-print').html('<i class="fa table-buttons fa-print text-dark"/>')
                }
            } );
        
            table.buttons().container()
                .appendTo( '#invoice-table_wrapper .col-md-6:eq(0)' );
    
            
        } );
    </script>
    <script>
        $(document).ready(function() {
            var table = $('#quotation-table').DataTable( {
            dom: 'Bfrtip',
                buttons: ['excel', 'pdf','print'],
                initComplete: function() {
                $('.buttons-excel').html('<i class="fa table-buttons fa-file-excel-o text-success"/>')
                $('.buttons-pdf').html('<i class="fa table-buttons fa-file-pdf-o text-danger"/>')
                $('.buttons-print').html('<i class="fa table-buttons fa-print text-dark"/>')
                }
            } );
        
            table.buttons().container()
                .appendTo( '#quotation-table_wrapper .col-md-6:eq(0)' );    
            
        } );
    </script>
{% endblock javascript %}
    
    
